// light
$blue:  #435ebe #FF5154;
$body-bg: #f2f7ff #f8f3f3;
$headings-color:  #25396f #451A19;
$btn-hover-bg: #3950a2 #a23939;
$btn-hover-border-color: #364b98 #983636;

$--bs-body-font-family: "Nunito";
$--bs-body-font-family: "Nunito", sans-serif;

// dark
$bg: #151521 #070505;
$btn-hov: #282839 #392828;
$panel: #1E1E2D #1b1919;
$icon: #7C8DB5 #b57c7c;
$text: #9899AC #ac9898;
$dropdown-bg: #2d2d40 #271f1f;
$dropdown-link-color: #92929F #9f9292;
$dropdown-link-hover-bg: #3c3c4d #4d3c3c;
// $form-bg : #1b1b29  #291b1b;

// auth
$right: #2d499d, #3f5491 #ffd3d3 #f8f3f3 #2c2424 #554848;



$test: #7066e0 #FF5154;